.page-header {
    background-color: #636363;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h2, .page-header h2 a, .page-header h2 a:visited, .page-header h2 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    display: inline;
}

.content {
    margin-left: 20px;
}

.save {
    float: right;
}

.search-button {
    font-size: 20px;
}

.info {
    padding: 15px;
    margin-top: 10px;
    margin-left: 3px;
    background-color: #ccff7f;
}

.info-text {
  font-weight: 800;
  font-size: 24px;
}

.book-form textarea, .book-form input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.book {
    margin-bottom: 70px;
}
