[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
dj-database-url = "*"
Django = "*"
psycopg2 = "*"
django-jet = "*"
djangorestframework = "*"
pip = "*"
djangorestframework-jwt = "*"
