{% load staticfiles %}
<html>
  <head>
    <title>BookChook</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <div class="page-header">
      <h2><a href="/">BookChook</a></h2>
      {% if user.is_authenticated %}
      <a href="{% url 'book_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
      <a href="{% url 'logout_view' %}" class="logout">Logout</a>
      {% endif %}
    </div>

    <div class="row">
      <div class="col-12">
      {% block content %}
      {% endblock %}
      </div>
     </div>
     <div class="page-footer row">
       <div class="col-12"><a href="https://github.com/tombasche/BookChook">Check it out on GitHub!</a></div>
     </div>
  </body>
</html>
