{% load staticfiles %}
<html>
  <head>
    <title>BookChook</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="page-header">
      <h2><a href="/">BookChook</a></h2>
      {% if user.is_authenticated %}
      <a href="{% url 'book_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
      <a href="{% url 'logout_view' %}">Logout</a>
      {% endif %}
    </div>

    <div class="content container">
       <div class="row">
           <div class="col-md-8">
           {% block content %}
           {% endblock %}
           </div>
       </div>
     </div>
     <div class="page-footer">
       <p><a href="https://github.com/tombasche/BookChook">Check it out on GitHub!</a></p>
     </div>
  </body>
</html>
