{% extends 'bookchook/base.html' %}

{% block content %}
    <div class="book">
      {% if books %}
      <table>
        <th>Name</th>
        <th>Author</th>
        <th>Series</th>
        <th>Tags</th>
        {% for book in books %}
        <tr>
          <td>{{ book.name }}</td>
          <td>{{ book.author }}</td>
          <td>{{ book.series | default_if_none:"--"  }}</td>
          <td>{% for tag in book.tags.all %}{{ tag.name }},{% endfor %}</td>
        </tr>
        {% endfor %}
      </table>
      {% else %}
      <div class="info">
        <p class="info-text">Nah, nothing here.</p>
      </div>
      {% endif %}
    </div>
{% endblock %}
