{% extends 'bookchook/base.html' %}

{% block content %}
    <br/>
    <br/>
    <form method="GET">
      <div class="container">
        <div class="backer">
          <h1 class="search-header">Chook a book</h1>
          <input id="search_box" type="text" name="search_box" placeholder="Search by book, series or tag..." >
          <br/>
          <div class="save-container">
            <button type="submit" class="save search-button btn btn-default">Bwarrk</button>
          </div>
        </div>
      </div>
    </form>
{% endblock %}
