{% extends 'bookchook/base.html' %}

{% block content %}
    <form method="POST" class="book-form">{% csrf_token %}
      <div class="container">
        <h1>New book</h1>
        <label>Name:</label>{{ form.name }}
        <br/>
        <label>Author:</label>{{ form.author }}
        <br/>
        <label>Series:</label>{{ form.series }}  <a href="{% url 'series_new' %}"><span class="glyphicon glyphicon-plus"></span>Add Series</a>
        <br/>
        <span id="seriesNumber">
          <label class="long-label">Number in Series:</label>{{ form.number }}
        </span>
        <br/><br/>
        <div data-tip="Enter words separated by commas">
          <input id="tag_box" type="text" name="tag_box" placeholder="Add tags..." >
        </div>
        <br/><br/>
        <div class="save-container">
          <button type="submit" class="save btn btn-default">Save</button>
        </div>

      </div>
    </form>
    <br/>
    <br/>
    {% if messages %}
      {% for message in messages %}
      <div class="info">
        <p class="info-text">{{message}}</p>
      </div>
      {% endfor %}
    {% endif %}
{% endblock %}
