{% extends 'bookchook/base.html' %}

{% block content %}
    <form method="POST" class="book-form">{% csrf_token %}
      <div class="container">
        <div class="backer">
          <h1 class="search-header">New Series</h1>
          <label>Name:</label>{{ form.name }}
          <br/>
          <div class="save-container">
            <button type="submit" class="save btn btn-default">Save</button>
          </div>
        </div>
      </div>
    </form>
    <br/>
    <br/>
    {% if messages %}
      {% for message in messages %}
      <div class="info">
        <p class="info-text">{{message}}</p>
      </div>
      {% endfor %}
    {% endif %}
{% endblock %}
