{% extends 'bookchook/base.html' %}

{% block content %}

  <div class="container">
    <h1 class="search-header">{{user.username}}'s books</h1>
    {% if books %}
    <table style="margin-bottom: 50px;">
      <th>Name</th>
      <th>Author</th>
      <th>Series</th>
      <th>Number in Series</th>
      <th>Location</th>
      <th>Tags</th>
      {% for book in books %}
      <tr>
        <td>{{ book.name }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.series | default_if_none:"--"  }}</td>
        <td>{{ book.number | default_if_none:"--"  }}</td>
        <td>{{ book.location | default_if_none:"--"  }}</td>
        <td>
          {% for value in book.tags.all %}
            {{ value }}
          {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <div class="info">
      <p class="info-text">Nah, nothing here.</p>
    </div>
    {% endif %}
  </div>
{% endblock %}
